* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    background: #1b252f;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.logoarea {
    display: flex;
    margin-left: 20px;
}

header input {
    width: 220px;
    margin-right: 20px;
}

h1 {
    margin-left: 10px;
}

header img {
    height: 40px;
}

/* MAIN CONTENT */

main {
    background: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    flex: 1;
}

.firstdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.books {
    height: 600px;
    width: 350px;
    background-color: #1b252f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 15px 0px 0px 15px;
}

.bookimage {
    height: 100px;
}

.priceandlikes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #fd5b4f;
    font-weight: 800;
    font-size: 24px;
}

.heartimage {
    height: 25px;
}

.heartimage:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.blueline {
    width: 100%;
    height: 2px;
    background-color: #6bc1e1;
    margin: 15px 0px 15px 0px;
}

footer {
    width: 100%;
    height: 100px;
    background: #1b252f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.description {
    padding: 0px 20px 0px 20px;
    width: 100%;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

table {
    padding-top: 10px;
}

/* COMMENTS */

.seconddiv {
    width: 100%;
    height: calc(100% - 32px);
    color: whitesmoke;
}

.comments {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 100%;
    gap: 10px;
}

.comments img {
    width: 20px;
}

.commentinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: #124658;
    border: none;
    border-bottom: 2px solid #6bc1e1;
    padding: 5px;
    width: 90%;
}

input::placeholder {
    font-weight: 600;
    color: rgb(185, 185, 185);
}

input:focus {
    outline: none;
}

.sendicon:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.comments_box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 8px;
    height: calc(100% - 32px);
    overflow-y: scroll;
}

.comments_box::-webkit-scrollbar {
    width: 4px;
}

.comments_box::-webkit-scrollbar-track {
    background: transparent;
}

.comments_box::-webkit-scrollbar-thumb {
    background-color: #6bc1e1;
    border-radius: 10px;
}

.comments_box::-webkit-scrollbar-track {
    background: #124658;
    border: 0px none #6bc1e1;
    border-radius: 50px;
}

.single_comment {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
}

.single_comment p:first-child {
    display: block;
    flex-shrink: 0;
    width: 124px;
}

/* RESPONSIVE */
.width-control {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

@media(max-width: 540px) {
    h1 {
        font-size: 20px;
    }

    header img {
        width: 25px;
        height: auto;
    }

    header input {
        width: 200px;
    }
}

@media(max-width: 370px) {
    h1 {
        font-size: 16px;
    }

    header img {
        width: 20px;
        height: auto;
    }

    header input {
        width: 150px;
    }
}