footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #FFF 0%, #F6F8FC 28%, #DDE7F5 72%);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}