header {
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #FFF 0%, #F6F8FC 28%, #DDE7F5 72%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: -0px 0px 20px 0px #000000bc;
}

.logoarea {
    display: flex;
    margin-left: 20px;
}

header input {
    width: 220px;
    margin-right: 20px;
}

h1 {
    margin-left: 10px;
    color: black;
}

header img {
    height: 40px;
}