header {
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #FFF 0%, #F6F8FC 28%, #DDE7F5 72%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: -0px 0px 20px 0px #000000bc;
}

.logoarea {
    display: flex;
    margin-left: 20px;
}

header input {
    width: 220px;
    margin-right: 20px;
}

h1 {
    margin-left: 10px;
    color: black;
    font-family: "Orbitron", sans-serif;
}

header img {
    height: 40px;
}

input {
    background-color: white;
    color: black;
    border: none;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 min(1.0666666667vw, 4px) #A5A9B5;
}

input::placeholder {
    font-weight: 600;
    color: rgb(185, 185, 185);
}

input:focus {
    outline: none;
}