.width-control {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

@media(max-width: 540px) {
    h1 {
        font-size: 20px;
    }

    header img {
        width: 25px;
        height: auto;
    }

    header input {
        width: 200px;
    }
}

@media(max-width: 370px) {
    h1 {
        font-size: 16px;
    }

    header img {
        width: 20px;
        height: auto;
    }

    header input {
        width: 150px;
    }
}